-#  This file is app/views/movies/index.html.haml
%h2 All Movies

%table#movies.table.table-striped.col-md-12
  %thead
    %tr
      %th{class: @sort_by == 'title' ? 'bg-warning' : 'hilite'}
        %a{:href => "/?sort_by=title", :id => 'title_header'} Movie Title
      %th.hilite Rating
      %th{class: @sort_by == 'release_date' ? "bg-warning" : "hilite"}
        %a{:href => "/?sort_by=release_date", :id => 'release_date_header'} Release Date
      %th.hilite More Info
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)

= link_to 'Add new movie', new_movie_path
