-#  This file is app/views/movies/index.html.haml
%h2 All Movies

= form_tag movies_path, :id => 'ratings_form', :method => :get do
  Include:
  - @all_ratings.each do |rating|
    = rating
    = check_box_tag "ratings[#{rating}]", 1, rating.in?(@clicked_ratings), :id => "ratings_#{rating}"
  = submit_tag 'Refresh', :class => 'btn btn-primary', :id => 'ratings_submit'

#{@change}

%table#movies.table.table-striped.col-md-12
  %thead
    %tr
      %th{class: @sort_by == 'title' ? 'hilite' : 'bg-warning'}
        %a{:href => "/?sort_by=title", :id => 'title_header'} Movie Title
      %th.bg-warning Rating
      %th{class: @sort_by == 'release_date' ? "hilite" : "bg-warning"}
        %a{:href => "/?sort_by=release_date", :id => 'release_date_header'} Release Date
      %th.bg-warning More Info
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)

= link_to 'Add new movie', new_movie_path
